<a href="https://colab.research.google.com/github/KhushiSachade/Analysis-of-School-Performance-in-Phoenix/blob/main/rebuilding_g10_511.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#first start by importing the csv file
#importing the pandas library
import pandas as g10pd

#reading the csv file into a df
g10df = g10pd.read_csv('/content/New data collection - Sheet1.csv')

#finding the counts for rows using count function
g10RC = g10df.count()

#printing the counts
print("Number of Rows:",g10RC)

Number of Rows: Sequence no                     205
School name                     205
City                            205
Zipcode                         205
Arizona Ranking                 117
National ranking                117
Total students                  186
English score % (proficient)    178
Maths score% (proficient)       179
Student-teacher ratio           135
Drop-out rate %                 186
Total incidents of violence     175
dtype: int64

In [ ]:
#Printing the dataset to verify
g10df.head()

,Sequence no,School name,City,Zipcode,Arizona Ranking,National ranking,Total students,English score % (proficient),Maths score% (proficient),Student-teacher ratio,Drop-out rate %,Total incidents of violence
0,1,West Phoenix High School,Phoenix,85019,237.0,"13,261",418.0,6.0,2.0,-1:1,21.99,3.0
1,2,West-Mec - Shadow Mountain High School,Phoenix,85028,NaN,NaN,1108.0,29.0,26.0,NaN,2.71,50.0
2,3,West-Mec - Pinnacle High School,Phoenix,85050,NaN,NaN,2480.0,43.0,32.0,NaN,1.38,18.0
3,4,West-Mec - Paradise Valley High School,Phoenix,85032,NaN,NaN,1872.0,31.0,18.0,-1:1,3.40,21.0
4,5,West-Mec - North Canyon High School,Phoenix,85024,NaN,NaN,1842.0,25.0,12.0,-1:1,2.00,50.0

In [ ]:
#Checkinh if there are null values in row using the function
g10df.isna().sum(axis=1)

0      0
1      3
2      3
3      2
4      2
      ..
200    1
201    0
202    1
203    0
204    5
Length: 205, dtype: int64

In [ ]:
#Now check nor N/A values in column
g10df.isna().sum()

Sequence no                      0
School name                      0
City                             0
Zipcode                          0
Arizona Ranking                 88
National ranking                88
Total students                  19
English score % (proficient)    27
Maths score% (proficient)       26
Student-teacher ratio           70
Drop-out rate %                 19
Total incidents of violence     30
dtype: int64

In [ ]:
#using valueCounts function, find how many are there in column
g10df.isna().sum(axis=0).value_counts()

0     4
88    2
19    2
27    1
26    1
70    1
30    1
Name: count, dtype: int64

In [ ]:
#now do same for row
g10df.isna().sum(axis=1).value_counts()

0    88
2    36
3    26
1    21
4     9
5     8
7     6
8     6
6     5
Name: count, dtype: int64

In [ ]:
#Arizona Ranking has 87 N/A values so remove the whole column
g10df = g10df.drop(['Arizona Ranking '],axis=1)

In [ ]:
#Also the national ranking has many null values t=so drop
g10df = g10df.drop(['National ranking'],axis=1)

In [ ]:
#Finally, drop the column for ratio of student and teacher as it also has null
g10df = g10df.drop(['Student-teacher ratio'],axis=1)

In [ ]:
#Printing the dataset after drop the 3 columns that were mentioned above
g10df

,Sequence no,School name,City,Zipcode,Total students,English score % (proficient),Maths score% (proficient),Drop-out rate %,Total incidents of violence
0,1,West Phoenix High School,Phoenix,85019,418.0,6.0,2.0,21.99,3.0
1,2,West-Mec - Shadow Mountain High School,Phoenix,85028,1108.0,29.0,26.0,2.71,50.0
2,3,West-Mec - Pinnacle High School,Phoenix,85050,2480.0,43.0,32.0,1.38,18.0
3,4,West-Mec - Paradise Valley High School,Phoenix,85032,1872.0,31.0,18.0,3.40,21.0
4,5,West-Mec - North Canyon High School,Phoenix,85024,1842.0,25.0,12.0,2.00,50.0
...,...,...,...,...,...,...,...,...,...
200,201,James Madison Preparatory School,Tempe,85283,156.0,32.0,13.0,0.00,0.0
201,202,Marcos De Niza High School,Tempe,85283,1517.0,25.0,15.0,3.92,85.0
202,203,Tapbi,Tempe,85283,198.0,33.0,19.0,2.81,0.0
203,204,Sedona Red Rock High School,Sedona,86336,481.0,20.0,9.0,6.31,2.0
204,205,Red Rock Academy,Sedona,86336,NaN,NaN,NaN,21.43,0.0

In [ ]:
#Finding the total no. of missing values per row
g10df.isna().sum(axis=1)

0      0
1      0
2      0
3      0
4      0
      ..
200    0
201    0
202    0
203    0
204    3
Length: 205, dtype: int64

In [ ]:
#Counting the total no. of missing values per row using the value counts func
g10df.isna().sum(axis=1).value_counts()

0    166
5     16
1     12
3      7
2      4
Name: count, dtype: int64

In [ ]:
#dropping the necessary rows that have the missing values
g10df=g10df.dropna()

In [ ]:
#Checking if any missing values are remaining in col
g10df.isna().sum(axis=1).value_counts()

0    166
Name: count, dtype: int64

In [ ]:
#Checking if any missing values are remaining in row
g10df.isna().sum(axis=0).value_counts()

0    9
Name: count, dtype: int64

In [ ]:
#Checking if any duplicate values are there in the DS
duplicate_records = g10df[g10df.duplicated(keep=False)]

if duplicate_records.empty:
    print("There are no duplicate records in the dataset.")
else:
    print("Duplicate records found in the dataset:")
    print(duplicate_records)

There are no duplicate records in the dataset.

In [ ]:
#Replacing any special charac if there are any
g10df.replace({'\$': '', '%': ''}, regex=True, inplace=True)

<ipython-input-18-71fe4c90a205>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  g10df.replace({'\$': '', '%': ''}, regex=True, inplace=True)

In [ ]:
#Checking the final size and dimensions of the DS
g10df.shape

(166, 9)

In [ ]:
#Checking the final data set after data cleaning
g10df

,Sequence no,School name,City,Zipcode,Total students,English score % (proficient),Maths score% (proficient),Drop-out rate %,Total incidents of violence
0,1,West Phoenix High School,Phoenix,85019,418.0,6.0,2.0,21.99,3.0
1,2,West-Mec - Shadow Mountain High School,Phoenix,85028,1108.0,29.0,26.0,2.71,50.0
2,3,West-Mec - Pinnacle High School,Phoenix,85050,2480.0,43.0,32.0,1.38,18.0
3,4,West-Mec - Paradise Valley High School,Phoenix,85032,1872.0,31.0,18.0,3.40,21.0
4,5,West-Mec - North Canyon High School,Phoenix,85024,1842.0,25.0,12.0,2.00,50.0
...,...,...,...,...,...,...,...,...,...
199,200,Corona Del Sol High School,Tempe,85284,2730.0,39.0,25.0,0.84,48.0
200,201,James Madison Preparatory School,Tempe,85283,156.0,32.0,13.0,0.00,0.0
201,202,Marcos De Niza High School,Tempe,85283,1517.0,25.0,15.0,3.92,85.0
202,203,Tapbi,Tempe,85283,198.0,33.0,19.0,2.81,0.0
203,204,Sedona Red Rock High School,Sedona,86336,481.0,20.0,9.0,6.31,2.0

In [ ]:
# Assuming your DataFrame is named df
g10df.to_csv("cleaned.csv", index=False)

In [ ]:
## for transfprmation of dataset

import pandas as pd
from sklearn.preprocessing import LabelEncoder


df = pd.read_csv("cleaned.csv")


L_E = LabelEncoder()


for C in df.columns:
    if df[C].dtype == 'object':
        df[C] = L_E.fit_transform(df[C])


df.to_csv("new_transformed.csv", index=False)

In [ ]:
#firstly importing transformed file
#importing the pandas library
import pandas as g10pd

#reading the csv file into a df
g10df = g10pd.read_csv('/content/new_transformed.csv')
print(g10df)

     Sequence no  School name  City  Zipcode  Total students  \
0              1          152     3    85019           418.0
1              2          158     3    85028          1108.0
2              3          157     3    85050          2480.0
3              4          156     3    85032          1872.0
4              5          155     3    85024          1842.0
..           ...          ...   ...      ...             ...
161          200           38     6    85284          2730.0
162          201           79     6    85283           156.0
163          202           91     6    85283          1517.0
164          203          144     6    85283           198.0
165          204          130     5    86336           481.0

     English score % (proficient)  Maths score% (proficient)  Drop-out rate %  \
0                             6.0                        2.0            21.99
1                            29.0                       26.0             2.71
2                            43.0                       32.0             1.38
3                            31.0                       18.0             3.40
4                            25.0                       12.0             2.00
..                            ...                        ...              ...
161                          39.0                       25.0             0.84
162                          32.0                       13.0             0.00
163                          25.0                       15.0             3.92
164                          33.0                       19.0             2.81
165                          20.0                        9.0             6.31

     Total incidents of violence
0                            3.0
1                           50.0
2                           18.0
3                           21.0
4                           50.0
..                           ...
161                         48.0
162                          0.0
163                         85.0
164                          0.0
165                          2.0

[166 rows x 9 columns]

In [ ]:
# Creating a new column 'Performance' and initializing with 'Low Performing'
g10df['Performance'] = 'Low Performing'

#now based on conditions assign high performnace to the schools
g10df.loc[(g10df['Drop-out rate %'] < 5) & (g10df['English score % (proficient)'] > 15) & (g10df['Maths score% (proficient)'] > 15), 'Performance'] = 'High Performing'

#displaying the updated DataFrame
print(g10df)

     Sequence no  School name  City  Zipcode  Total students  \
0              1          152     3    85019           418.0
1              2          158     3    85028          1108.0
2              3          157     3    85050          2480.0
3              4          156     3    85032          1872.0
4              5          155     3    85024          1842.0
..           ...          ...   ...      ...             ...
161          200           38     6    85284          2730.0
162          201           79     6    85283           156.0
163          202           91     6    85283          1517.0
164          203          144     6    85283           198.0
165          204          130     5    86336           481.0

     English score % (proficient)  Maths score% (proficient)  Drop-out rate %  \
0                             6.0                        2.0            21.99
1                            29.0                       26.0             2.71
2                            43.0                       32.0             1.38
3                            31.0                       18.0             3.40
4                            25.0                       12.0             2.00
..                            ...                        ...              ...
161                          39.0                       25.0             0.84
162                          32.0                       13.0             0.00
163                          25.0                       15.0             3.92
164                          33.0                       19.0             2.81
165                          20.0                        9.0             6.31

     Total incidents of violence      Performance
0                            3.0   Low Performing
1                           50.0  High Performing
2                           18.0  High Performing
3                           21.0  High Performing
4                           50.0   Low Performing
..                           ...              ...
161                         48.0  High Performing
162                          0.0   Low Performing
163                         85.0   Low Performing
164                          0.0  High Performing
165                          2.0   Low Performing

[166 rows x 10 columns]

In [ ]:
g10df.to_csv("new_labelled.csv", index=False)

In [ ]:
from sklearn.model_selection import KFold, cross_val_score
from sklearn.ensemble import RandomForestClassifier

label_df = g10pd.read_csv('/content/new_labelled.csv')

#selecting target variables and features.
g10_X = label_df[['English score % (proficient)', 'Maths score% (proficient)', 'Drop-out rate %', 'Total incidents of violence']]
g10_y = label_df['Performance']

#now creating kfold with folds=5
g10_kfold = KFold(n_splits=5, shuffle=True, random_state=42)

#creating Random Forest classifier
g10_clf = RandomForestClassifier()

#performing KFold cross-validation
g10_cv_scores = cross_val_score(g10_clf, g10_X, g10_y, cv=g10_kfold)

#printing the scores
print("Cross-validation scores:", g10_cv_scores)
print("Mean accuracy:", g10_cv_scores.mean())

Cross-validation scores: [1.         1.         0.96969697 1.         1.        ]
Mean accuracy: 0.9939393939393939

In [ ]:
from sklearn.tree import DecisionTreeClassifier

#for creating decision Tree classifier
g10_decision_tree_clf = DecisionTreeClassifier()

#now fitting KFold cross-validation with Decision Tree classifier
g10_cv_scores_decision_tree = cross_val_score(g10_decision_tree_clf, g10_X, g10_y, cv=g10_kfold)

#printing the cross-validation scores
print("Cross-validation scores (Decision Tree Classifier):", g10_cv_scores_decision_tree)
print("Mean accuracy (Decision Tree Classifier):", g10_cv_scores_decision_tree.mean())

Cross-validation scores (Decision Tree Classifier): [1.         1.         0.96969697 0.96969697 1.        ]
Mean accuracy (Decision Tree Classifier): 0.9878787878787879

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

#now evaluating with the KNN classifier
g10_knn_clf = KNeighborsClassifier()

#now fitting KFold cross-validation with KNN classifier
g10_cv_scores_knn = cross_val_score(g10_knn_clf, g10_X, g10_y, cv=g10_kfold)

# Print the cross-validation scores
print("Cross-validation scores (KNN Classifier):", g10_cv_scores_knn)
print("Mean accuracy (KNN Classifier):", g10_cv_scores_knn.mean())

Cross-validation scores (KNN Classifier): [0.94117647 0.87878788 0.93939394 0.81818182 0.90909091]
Mean accuracy (KNN Classifier): 0.897326203208556

In [ ]:
from sklearn.ensemble import RandomForestClassifier

#creating the Random Forest classifier for evaluation
clf = RandomForestClassifier()

#performing K-Fold Cross Validation
cv_scores = cross_val_score(clf, g10_X, g10_y, cv=g10_kfold)

#printing the cross-validation scores
print("Cross-validation scores (Random Forest Classifier):", cv_scores)
print("Mean accuracy (Random Forest Classifier):", cv_scores.mean())

Cross-validation scores (Random Forest Classifier): [1.         1.         0.96969697 1.         1.        ]
Mean accuracy (Random Forest Classifier): 0.9939393939393939

In [ ]:
from sklearn.svm import SVC

#now for evaluation creating the SVM classifier
g10_svm_clf = SVC()

#performing K-Fold Cross Validation with SVM classifier
g10_cv_scores_svm = cross_val_score(g10_svm_clf, g10_X, g10_y, cv=g10_kfold)

#printing the cross-validation scores
print("Cross-validation scores (SVM Classifier):", g10_cv_scores_svm)
print("Mean accuracy (SVM Classifier):", g10_cv_scores_svm.mean())

Cross-validation scores (SVM Classifier): [0.91176471 0.90909091 0.90909091 0.90909091 0.90909091]
Mean accuracy (SVM Classifier): 0.9096256684491978